* {
    background-color: rgb(50, 50, 50);
}

body {
    margin: 0;
    padding: 0;
}

.playing {
    align-content: center;
    text-align: center;
    color: lightgrey;
    font-size: 4vh;
    padding-top: 15vh;
}

button {
    display: block;
    padding: 8px;
    padding-left: 50px;
    width: 100vw;
    height: 8vh;
    text-align: left;
    font-size: 3vh;
    background-color: rgb(50, 50, 50);
    color: lightgrey;
    border-color: lightgrey;
}

button:hover {
    background-color: rgb(60, 60, 60);
    border-color: lightgrey;
}

button:active {
    background-color: rgb(80, 80, 80);
    border-color: lightgrey;
    outline: 0;
}

button:focus {
    background-color: rgb(80, 80, 80);
    border-color: lightgrey;
    outline: 0;
}